
/* icon that can be used to drag a dialog */
::ng-deep.dialogdrag-handle {
  top: 1px;
  left: 1px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

/* make dialog for command response using the display field scrollable */
::ng-deep.cmdRespDialog {
  resize: both; 
  overflow: scroll;
}

/* make only the dialog for command response using the display field movable */
/* (hide the close button and the drag icon) */
::ng-deep.varRespDialog #dialogclose {
display:none ;
}

::ng-deep.varRespDialog #dialogdrag {
display:none;
}
::ng-deep.errRespDialog #dialogclose {
display:none ;
}

::ng-deep.errRespDialog #dialogdrag {
display:none;
}

